{% extends "agendatec/base.html" %}
{% block title %}Servicio Social - Citas del día{% endblock %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title">Citas del día</h5>
    <div class="row g-2 mb-2">
      <div class="col-12 col-sm-3">
        <label class="form-label">Día</label>
        <select class="form-select" id="ssDay">
          <option value="2025-08-25">25 Ago</option>
          <option value="2025-08-26">26 Ago</option>
          <option value="2025-08-27">27 Ago</option>
        </select>
      </div>

      <div class="col-12 col-sm-5">
        <label class="form-label">Carrera</label>
        <select class="form-select" id="ssProgram">
          <option value="">Todas</option>
        </select>
      </div>

      <div class="col-12 col-sm-2 d-grid">
        <label class="form-label d-none d-sm-block">&nbsp;</label>
        <button class="btn btn-outline-primary" id="btnLoadSS">Cargar</button>
      </div>
    </div>

    <div id="ssList" class="table-responsive"></div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='agendatec/js/sockets/requests_social_client.js') }}?v={{ static_version }}"></script>
<script src="{{ url_for('static', filename='agendatec/js/social/home.js') }}?v={{ static_version }}"></script>
{% endblock %}
